.about-container {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    text-align: left;
}

.about-container p{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.about-me{
    padding: 0% 10%;
}

.about-container .pursuits-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.about-header {
    padding-top: 5%;
}


  
@media screen {
    @media (max-width: 700px) {
        .about-container {
            display: block;
            padding-left: 5%;
            padding-right: 5%;
        }
  
        .about-container .pursuits-grid {
            display: block;
        }
      
        .about-container .pursuits-grid .pursuit {
            padding-bottom: 5%;
        }
    }
    @media (max-width: 567px) {
        .skills {
            font-size: 12px;
        }
    }
}